<a href="https://colab.research.google.com/github/frankieilocc/python-and-data-science/blob/main/ghana_regions_and_their_capital.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

#i am trying to create a dataFrame which contains Ghana's regions and their capital,and hopefully with their population size.

In [3]:
data={"Region":["Ahafo","Ashanti","Bono East","Brong Ahafo","Central","Eastern","Greater Accra","North East","Northern","Oti","Savannah","Upper East",
"Upper West","Western","Western North","Volta"],
      "Capital":["Goaso","Kumasi","Techiman","Sunyani","Cape Coast","Koforidua","Accara","Nalerigu","Tamale","Dambai","Damongo","Bolgatanga","Wa",
"Sekondi-Takoradi","Sefwi Wiaso","Ho"]
}

In [4]:
df=pd.DataFrame(data)

In [5]:
df

           Region           Capital
0           Ahafo             Goaso
1         Ashanti            Kumasi
2       Bono East          Techiman
3     Brong Ahafo           Sunyani
4         Central        Cape Coast
5         Eastern         Koforidua
6   Greater Accra            Accara
7      North East          Nalerigu
8        Northern            Tamale
9             Oti            Dambai
10       Savannah           Damongo
11     Upper East        Bolgatanga
12     Upper West                Wa
13        Western  Sekondi-Takoradi
14  Western North       Sefwi Wiaso
15          Volta                Ho